<br /><br /><br />
<footer class="p-5 bg-dark text-white" id="footer">
    <div class="image-layer"></div>
    <div class="container">
        <div class="footer-top">
            <div class="widget-section">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                        <div class="about-widget footer-widget">
                            <figure class="footer-logo"><a href="index.html" style="text-decoration: none;"><img src="images/logo_masolo_small.png" alt="" style="float: left; margin-right: 15px;"><h2 style="font-weight: bold;color: #e7e7e7;padding-top: 7px;">Fablab Polytech</h2></a></figure>
                            <div class="text text-justify">Le FabLab éco-déchets est un FabLab de l'Université Evangélique d'Afrique situé dans la ville de Bukavu à l'est de la RDC. Cette ville connaît une croissance démographique rapide accompagnée de nombreux défis, tels que l'insuffisance des infrastructures et des services de base...  </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                        <div class="links-widget footer-widget">
                            <h5 class="widget-title">Liens utiles</h5>
                            <br />
                            <div class="widget-content">
                                <ul class="list clearfix">
                                    <li><a href="#features">Fonctionnalités</a></li>
                                    <li><a href="#download">Téléchargement</a></li>
                                    
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="contact-widget footer-widget">
                            <h5 class="widget-title">Contact </h5>
                            <br />
                            <div class="widget-content">
                                <ul class="list clearfix">
                                    <li><i class="fas fa-map-marker-alt"></i> Etidlabs - Kinshasa (R.D Congo)</li>
                                    <li id="number">
                                        <i class="fas fa-phone-volume"></i>
                                        <a href="tel:+243814443252"> (+243) 814 443 252</a>    
                                    </li>
                                    <li>
                                        <i class="fas fa-envelope"></i> 
                                        <a href="mailto:mmatalatala@gmail.com"> contact@etidlabs.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         
    </div>
</footer>
<div class="h-100 d-flex align-items-center justify-content-center p-3"> 
    <div class="copyright" style="color: #222;">© 2023 <a href="#" class="animate__bounce" target="_blank" style="color: #4527a4;font-weight: bold; animation-name: bounce; animation-duration: 1s;animation-iteration-count: infinite;">Fablab Polytech</a>. Tous droits réservés | Design by MBULA MBOMA</div>
</div>
