<div class="carouselle bg-dark mb-0">
    <video id="myVideo" class="home-video bg-dark" preload="auto" loop muted autoplay>
        <source src="assets/video1.mp4" type="video/mp4" />
    </video> 
    <div id="video2" class="overlay"></div> 
    <h1 class="h1 text-white titre1">
        Fablab <br /> Polytech 
    </h1>
    <h4 class="titre2">Imaginons,  Créons, Fabriquons, Innovons, Apprenons et Partageons</h4>
    <h4 class="titre3">Nous sommes au coeur de la créativité et de l'innovation</h4>
    <a class="btn btn-primary orange btn-1">S'inscrire Maintenant</a>
 
</div>

<div class="container-fluid mt-5 mb-0 to-animate">
    <h2 class="text-black text-left ms-1">NOS <span class="text-orange">FORMATIONS</span> </h2>
    
    <hr class="ms-1 me-5 mt-0 mb-0"/>
    <br />
    <div class="row">
        <div class="col-sm-12 col-md-2">
            <div class="image-div bg-black">
              <a href="https://as-aa.org/index.php/conference-workshops/asaa-2017-conference" target="_blank">
                <img src="assets/box1.jpg" style="opacity: 0.5;" alt="Image 1"> 
                <span class="year">Init. à la gravure - découpe lazer</span>
              </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-2">
            <div class="image-div bg-black">
              <a href="https://as-aa.org/index.php/conference-workshops/asaa-2017-conference" target="_blank">
                <img src="assets/3d.jpg" style="opacity: 0.5;" alt="Image 1"> 
                <span class="year">Initiation à l'impression 3D</span>
              </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-2">
            <div class="image-div bg-black">
              <a href="https://as-aa.org/index.php/conference-workshops/asaa-2017-conference" target="_blank">
                <img src="assets/arduino.png" style="opacity: 0.5;" alt="Image 1"> 
                <span class="year">Init. à la programmation avec Arduino</span>
              </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-2">
            <div class="image-div bg-black">
              <a href="https://as-aa.org/index.php/conference-workshops/asaa-2017-conference" target="_blank">
                <img src="assets/robotique.jpg" style="opacity: 0.5;" alt="Image 1"> 
                <span class="year">Initiation <br /> à la robotique </span>
              </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-2">
            <div class="image-div bg-black">
              <a href="https://as-aa.org/index.php/conference-workshops/asaa-2017-conference" target="_blank">
                <img src="assets/dev.jpeg" style="opacity: 0.5;" alt="Image 1"> 
                <span class="year">Développement <br /> web</span>
              </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-2">
            <div class="image-div bg-black">
              <a href="https://as-aa.org/index.php/conference-workshops/asaa-2017-conference" target="_blank">
                <img src="assets/apps.jpg" style="opacity: 0.5;" alt="Image 1"> 
                <span class="year">Développement des applications mobiles</span>
              </a>
            </div>
        </div>
    </div>
    
</div>

<div class="h-100 d-flex align-items-right justify-content-end mt-0 mb-1 me-5 pt-0"> 
    <a class="btn btn-primary orange">TARIFICATIONS</a>
</div> 
 
 


<div class="container-fluid mt-5 mb-0 to-animate">
    <h2 class="text-black text-left ms-1">NOS <span class="text-orange">MACHINES</span> </h2>
    
    <hr class="ms-1 me-5 mt-0 mb-0"/>
    <br />
    <div class="row">
        <div class="col-sm-12 col-md-2">
            <div class="image-div bg-black">
              <a href="https://as-aa.org/index.php/conference-workshops/asaa-2017-conference" target="_blank">
                <img src="assets/lazer.jpg" style="opacity: 0.5;" alt="Image 1"> 
                <span class="year">Découpeuse laser</span>
              </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-2">
            <div class="image-div bg-black">
              <a href="https://as-aa.org/index.php/conference-workshops/asaa-2017-conference" target="_blank">
                <img src="assets/i3d.jpg" style="opacity: 0.5;" alt="Image 1"> 
                <span class="year">Imprimante 3D</span>
              </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-2">
            <div class="image-div bg-black">
              <a href="https://as-aa.org/index.php/conference-workshops/asaa-2017-conference" target="_blank">
                <img src="assets/vynile.jpg" style="opacity: 0.5;" alt="Image 1"> 
                <span class="year">Découpeuse vinyle</span>
              </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-2">
            <div class="image-div bg-black">
              <a href="https://as-aa.org/index.php/conference-workshops/asaa-2017-conference" target="_blank">
                <img src="assets/fr-num.jpg" style="opacity: 0.5;" alt="Image 1"> 
                <span class="year">Fraiseuse numérique</span>
              </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-2">
            <div class="image-div bg-black">
              <a href="https://as-aa.org/index.php/conference-workshops/asaa-2017-conference" target="_blank">
                <img src="assets/th-form.jpg" style="opacity: 0.5;" alt="Image 1"> 
                <span class="year">Thermoformeuse</span>
              </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-2">
            <div class="image-div bg-black">
              <a href="https://as-aa.org/index.php/conference-workshops/asaa-2017-conference" target="_blank">
                <img src="assets/pcb.jpeg" style="opacity: 0.5;" alt="Image 1"> 
                <span class="year">Fraiseuse PCB</span>
              </a>
            </div>
        </div>
    </div>
    
</div>

<div class="h-100 d-flex align-items-right justify-content-end mt-0 mb-1 me-5 pt-0"> 
    <a class="btn btn-primary orange">RESERVER UNE MACHINES</a>
</div> 
<br /><br />





<div class="row m-0 to-animate" id="about">
    <div class="col-sm-6 bg-dark d-none d-md-block p-0">
        <img src="assets/about1.jpg" style="opacity: 0.9; width: 100%;"  alt="Image">  
    </div>
    <div class="col-sm-6 bg-black text-white p-5">
        <p class="h2">Qui sommes-<span class="text-orange">nous</span>?</p>
        <br /><br />
        <h2 class="h3 col-9">Fablab <span class="text-orange">Polytech</span></h2>
        <br />
        <p class="col-9 ">Le FabLab éco-déchets est un FabLab de l'Université Evangélique d'Afrique situé dans la ville de Bukavu à l'est de la RDC. Cette ville connaît une croissance démographique rapide accompagnée de nombreux défis, tels que l'insuffisance des infrastructures et des services de base, la construction anarchique, la pollution liée aux déchets et la pauvreté croissante des jeunes. Face à ces défis, nous avons pensé à développer les compétences professionnelles nécessaires pour créer des opportunités d'emploi pour les jeunes tout en améliorant la gestion des déchets....</p>
    </div>
</div>

<div class="h-100 to-animate d-flex align-items-center justify-content-center pt-5">
    <iframe width="853" height="480" src="https://www.youtube.com/embed/Yibm_8J08jE" title="Découvrez Orange Digital Center RD Congo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
</div>

<div class="h-100 d-flex align-items-center justify-content-center pt-5"> 
    <a class="btn btn-primary orange">S'inscrire Maintenant</a>
</div>
<br /><br /><br />

<div class="row m-0 to-animate" id="academy">
    <div class="col-sm-6 bg-light text-white p-5">
        <p class="h2"><span class="text-orange">FABLAB ACADEMY</span></p> 
        <br />
        <p class="col-9 text-black">Vous avez toujours été attiré par le développement web ? Ou vous souhaitez plutôt devenir data analyst ? Formez-vous gratuitement en 7 mois seulement grâce à BeCode ! Ce cursus vous permet également de réaliser un stage en entreprise ou de suivre des cours additionnels pour approfondir vos connaissances. Dans le cadre du partenariat avec Orange, un cursus sur la 5G et les réseaux est également proposé en complément des formations sur l’intelligence artificielle, le développement web et la cybersécurité.....</p>
        <a class="btn btn-primary bg-black border-black p-3">S'inscrire à l'academy</a>
    </div>
    
    <div class="col-sm-6  d-none d-md-block p-0">
        <img src="assets/box3.jpg" class="bg-dark" style="opacity: 0.9; width: 100%;"  alt="Image">  
    </div>
</div> 

<div class="h-100 d-flex  to-animate align-items-center justify-content-center pt-5" id="programme"> 
    <hr style="width: 50%;"/>
</div>

<div class="h-100 to-animate d-flex align-items-center justify-content-center pt-5"> 
    <h2 class="text-black">NOTRE <span class="text-orange">PROGRAMME</span> </h2>
</div>
<div class="h-100 to-animate d-flex align-items-center justify-content-center pt-0"> 
    <p class="text-black text-center" style="width: 50%;">Le Fablab est ouvert du Lundi au Vendredi de 9h00 à 16h00. L'accès reste gratuit à tous les étudiants de l'université de Kinshasa. <br />Des évènements sont très souvent organisé et publiés dans le site. </p>
</div>

<div class="container-fluid p-5 to-animate">
    <div class="row">
        <div class="col-sm-12 col-md-2 mb-3">
            <div style="height: 200px; width: 100%; background-color: #4bb4e6;"></div>
            <div class="orange text-white bg-black p-3">
                <h6 class="text-orange">Tous les lundi</h6>
                <p class="small">La Digital Academy vous propose des formations gratuites longues et approfondies</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 mb-3">
            <div style="height: 200px; width: 100%; background-color: #a885d8;"></div>
            <div class="orange text-white bg-black p-3">
                <h6 class="text-orange">Tous les Mardi</h6>
                <p class="small">La Digital Academy vous propose des formations gratuites longues et approfondies</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 mb-3">
            <div style="height: 200px; width: 100%; background-color: #52bd87;"></div>
            <div class="orange text-white bg-black p-3">
                <h6 class="text-orange">Tous les Mercredi</h6>
                <p class="small">La Digital Academy vous propose des formations gratuites longues et approfondies</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 mb-3">
            <div style="height: 200px; width: 100%; background-color: #ffd200;"></div>
            <div class="orange text-white bg-black p-3">
                <h6 class="text-orange">Tous les Jeudi</h6>
                <p class="small">La Digital Academy vous propose des formations gratuites longues et approfondies</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 mb-3">
            <div style="height: 200px; width: 100%; background-color: #ffb4e6;"></div>
            <div class="orange text-white bg-black p-3">
                <h6 class="text-orange">Tous les Vendredi</h6>
                <p class="small">La Digital Academy vous propose des formations gratuites longues et approfondies</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 mb-3">
            <div style="height: 200px; width: 100%; background-color: #52bd87;"></div>
            <div class="orange text-white bg-black p-3">
                <h6 class="text-orange">Tous les Samedi</h6>
                <p class="small">La Digital Academy vous propose des formations gratuites longues et approfondies</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid  to-animate" id="equipe">
    
    <div class="row bg-black pt-5 ps-5 pe-5"> 
        <div class="text-center w-100 p-3 mb-4" ><h2 class="text-white">NOTRE <span class="text-orange">EQUIPE</span></h2></div>
        <div class="col-sm-12 col-md-3 mb-3 ">
            <div style="height: 250px; width: 100%; overflow: hidden;">
                <img src="assets/prof2.jpg" style="width: 100%;" />
            </div> 
            <div class="orange text-white bg-black p-3">
                <h6 class="text-orange">Dr. Ir. Kuti Lusala</h6>
                <p class="small">Docteur Ingénieur civil spécialité électronique et télécoms</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 mb-3">
            
            <div style="height: 250px; width: 100%; overflow: hidden;">
                <img src="assets/prof4.jpg" style="width: 100%;" />
            </div>
            <div class="orange text-white bg-black p-3">
                <h6 class="text-orange">Ingénieur Michel Matalatala</h6>
                <p class="small">Docteur Ingénieur civil spécialité électronique et télécoms</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-3  mb-3">
            
            <div style="height: 250px; width: 100%; overflow: hidden;">
                <img src="assets/prof1.jpg" style="width: 100%; opacity: 0.9;" />
            </div>
            <div class="orange text-white bg-black p-3">
                <h6 class="text-orange">Muluba Pele</h6>
                <p class="small">Docteur Ingénieur civil spécialité électronique et télécoms</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 mb-3"> 
            <div style="height: 250px; width: 100%; overflow: hidden;">
                <img src="assets/prof5.jpg" style="width: 100%; opacity: 0.9;" />
            </div>
            <div class="orange text-white bg-black p-3">
                <h6 class="text-orange">Maitre Odilon</h6>
                <p class="small">Docteur Ingénieur civil spécialité électronique et télécoms</p>
            </div>
        </div>
    </div>
</div> 

<div class="h-100 d-flex align-items-center justify-content-center pt-5 to-animate" id="partenaires"> 
    <h2 class="text-black">NOS <span class="text-orange">PARTENAIRES</span> </h2>
</div>
<br />
<br />
<div class="h-100 d-flex align-items-center justify-content-center pt-0 pb-5 to-animate"> 
    <div class="text-center">
        <img src="assets/ord.svg" width="300px"/> 
    </div>
    <div style="width: 50px;"></div>
    <div class="text-center">
        <img src="assets/unikin.png" width="220px"/> 
    </div>
    
    <div style="width: 50px;"></div>
    <div class="text-center">
        <img src="assets/masolo.jpg" width="225px"/> 
    </div>
</div>