<nav id="header-navbar" class="navbar navbar-light navbar-expand-lg navbar-transparent pb-0 " style="background-color: white;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="width: 35vw; margin-left: 50px;">
        <div class="row">
            <div class="col-1 pr-0"><img src="assets/logo.svg" alt="logo"  height="57"></div>
            <div class="col-1"></div>
            <div class="col-10">
                <b><h5 class="h4"><span  style="color: #ff7900;">FABLAB</span> <br />POLYTECH</h5></b>
            </div>
        </div>
        
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
             
            <li class="nav-item ml-5"> <a class="nav-link" href="/#about">QUI SOMMES-NOUS?</a>  
            </li> 
            <li class="nav-item ml-5"> <a class="nav-link" href="/#academy">FABLAB ACADEMY</a>  
            </li> 
            <li class="nav-item ml-5"> <a class="nav-link" href="/#programme">NOTRE PROGRAMME</a>  
            </li> 
            <li class="nav-item ml-5"> <a class="nav-link" href="/register">S'INSCRIRE</a>  
            </li>
            <li class="nav-item ml-5"> <a class="nav-link" href="/#contact">CONTACT</a>  
            </li>
           
        </ul> 
      </div>
    </div>
  </nav>
